body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    color: #d4af37;
    padding: 1rem;
    border-bottom: 3px solid #d4af37;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    margin-right: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #d4af37;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.section-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

footer {
    background-color: #000;
    color: #d4af37;
    padding: 1rem;
    text-align: center;
    border-top: 3px solid #d4af37;
}
